/* styles.css */

/* Tipografías y colores */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #004080;
  font-weight: 700;
}

p {
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  position: relative;
  transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #ffcc00;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffcc00;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar.scrolled {
  background-color: #004080 !important;
}

/* Logo */
.navbar-brand img {
  margin-right: 10px;
}

/* Footer */
footer {
  background-color: #004080;
}

footer p {
  margin: 0;
}

/* Responsividad */
@media (max-width: 992px) {
  .navbar-collapse {
      background-color: #004080;
  }
  .navbar-nav .nav-link {
      color: #fff;
      text-align: center;
      padding: 10px;
  }
}

/* Hero Section */
.hero-section {
  background-image: url('../public/images/hero-bg.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  position: relative;
}

.hero-section::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container {
  position: relative;
  z-index: 1;
}
